.chekout-product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chekout-product-image {
    object-fit: contain;
    width: 200px;
    height: 220px;
}

.chekout-product-info {
    padding-left: 20px;
}

.chekout-product-title {
    font-size: 17px;
    font-weight: 800;
}

.chekout-product-rating {
    display: flex;
}

.chekout-product-info>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #845a29;
    color: #111;
}