.chekout-product {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chekout-product-image {
    object-fit: contain;
    width: 70%;
}

.chekout-product-info {
    padding-left: 20px;
}

.chekout-product-title {
    font-size: 17px;
    font-weight: 800;
}

.chekout-product-rating {
    display: flex;
    color: #f0c14b;
}

.chekout-product-info>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #845a29;
    color: #111;
    font-weight: 600;
}

.chekout-product-info>button:hover:active {
    background: #61dafb;
    border: darkviolet 1px solid;
}