@fontface {
    font-family: 'Righteous', cursive;
    font-family: 'Rowdies', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rowdies&display=swap');
.login {
    background: #40E0D0;
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logo {
    width: 100px;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
    .login-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.login-container {
    width: 300px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    padding: 20px;
    border: 3px solid #b490ca;
    border-radius: 10px;
    background-color: white;
}

.login-container>h1 {
    font-family: 'Rowdies', cursive;
    color: #764ba2;
    font-weight: 800;
    margin-bottom: 20px;
}

.login-container>form>h5 {
    font-family: 'Righteous', cursive;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

.login-container>form>input {
    height: 30px;
    margin-bottom: 10px;
    width: 98%;
    border-radius: 5px;
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

.login-container>p {
    margin-top: 15px;
    font-size: 12px;
}

.login-br {
    font-size: 16px;
}

.login-sign-button {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

.login-reg-button {
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: darkgrey;
    background-color: #28a9ae;
}

.login-reg-button:hover {
    background-color: #80ffff;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}